.project-content {
    height: 120px;
    overflow-y: auto;

    p:last-of-type {
        margin-bottom: 0;
    }

    &::-webkit-scrollbar {
        width: 1rem;
        -webkit-overflow-scrolling: auto;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
    }
}

.project-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
