.skills-list {
    list-style: none;
    margin-left: 0;
    .skills-list-item {
        display: inline-block;
        margin: 10px 10px 0 0;
    }
}

.section-box {
    @media (min-width: 960px) {
        width: 480px;
    };

    @media (min-width: 1280px) {
        width: auto;
    }
}